.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.nav--logo {
  font-size: 28px;
}

.nav--btn {
  width: 140px;
  height: 48px;
  border: none;
  border-radius: 28px;
  background: var(--color-blackcurrant);
  color: var(--white);
}

.header--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 16px;
  gap: 0.75rem;
}

.header--title {
  font-size: 40px;
  margin: 0;
}

.header--btn {
  background: var(--gradient-a);
  color: var(--white);
  border: none;
  border-radius: 31.5px;
  width: 167px;
  height: 56px;
}

.header--img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header--img {
  /* background-color: blueviolet; */
  /* position: absolute; */
  max-width: 400px;
  top: -230px;
  right: -300px;
}
